<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @impact.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @impact.description %>
</p>

<%= link_to 'Edit', edit_impact_path(@impact) %> |
<%= link_to 'Back', impacts_path %>
